body{
    background-color: #D3DCDB;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #990000;
    
}
.aboutPhobias{
    font-family: 'Poppins', sans-serif;
    
}
.whatIsAPhobia{
    text-decoration: underline;
}
.phobiasText1{
    text-align: left;
    padding-left: 1%;
    background-color: #d1e8e5;
    border-style: solid;
    border-width: 1px;
    
}
.accordingToHarvard{
    font-size: 2%;
}