body{
    background-color: #ebf3f4;
}

.title{
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    color: #a60017;
}
.aboutPhobias{
    font-family: 'Poppins', sans-serif;
}
#aboutPhobiasParagraph{
    font-size: 100%;
    background-color:#daf3f7 ;
    border-style: solid;
    border-width: 0.2rem;
}