* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #303030;
    color: #e7e7e7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 8, 8);
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(167, 167, 167);
    font-family: 'poppins', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(41, 0, 0);
  }
.title{  

    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #b64141;
}

#subtitle{
    text-decoration: underline;
    padding-right: 1%;
}
.aboutPhobias{
    font-family: 'Poppins', sans-serif;
    padding-left: 1%;
    
}
.whatIsAPhobia{
    text-decoration: underline;
}
.phobiasText1{
    text-align: left;
    padding-left: 1%;
    background-color: #202020;
    border-style: solid;
    border-width: 1px;
    
}
.accordingToHarvard{
    font-size: 110%;
    padding-left: -10%;
}
.welcomeText{
    font-family: 'Poppins', sans-serif;
}

.arachnophobia{

    font-family: 'Poppins', sans-serif;

}

#ArachnophobiaSubtitle{
    align-content: center;
}

#spiderPic1{
    padding-left: 10%;
    height: 25%;
    width: 35%;
}
#arachnophobiaSubtitle{

padding-left: 2.5%;

}


spoiler{
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
     -ms-filter: blur(15px);
     filter: blur(15px);
}
spoiler:active {

    
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
     -ms-filter: blur(0px);
     filter: blur(0px);
}
